# pattern

# 1

In [13]:
x, y = input("enter x , y").split()
for _ in range(int(x)):
    for _ in range(int(y)):
        print("*" , end=" ")
    print()

enter x , y 2 3

* * *
* * *

# 2

In [18]:
for x in range(5):
    for y in range(x):
        print("*" , end=" ")
    print()

*
* *
* * *
* * * *

# 3

In [21]:
for x in range(5):
    for y in range(x):
        print(y+1 , end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

# 4

In [28]:
for x in range(5):
    for y in range(x):
        print(x , end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

# 5

In [50]:
r = 5 ; c = 5
for x in range(r):
    for y in range(c-x):
        print("*" , end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

# 6

In [53]:
r = 5 ; c = 5
for x in range(r):
    for y in range(c-x):
        print(y+1 , end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# 7

In [71]:
var = 5
for i in range(var):
    for j in range(var - i - 1):  # Print leading spaces
        print(" ", end="")
    for k in range(2 * i + 1):  # Print stars
        print("*", end="")
    for j in range(var - i - 1):  # Print leading spaces
        print(" ", end="")
    print()  # Move to the next line after each row

    *
   ***
  *****
 *******
*********

# 8

In [77]:
var = 5
for i in range(var):
    for x in range(i):
        print("", end=" ")
    for y in range((var-1-i)*2+1):
        print("*" , end="")
    for z in range(i):
        print("", end=" ")
    print()

*********
 *******
  *****
   ***
    *

# 9

In [78]:
var = 5
for i in range(var):
    for j in range(var - i - 1):  # Print leading spaces
        print(" ", end="")
    for k in range(2 * i + 1):  # Print stars
        print("*", end="")
    for j in range(var - i - 1):  # Print leading spaces
        print(" ", end="")
    print()  # Move to the next line after each row
for i in range(var):
    for x in range(i):
        print("", end=" ")
    for y in range((var-1-i)*2+1):
        print("*" , end="")
    for z in range(i):
        print("", end=" ")
    print()

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [85]:
var = 5

# Combined loop for both top and bottom halves
for i in range(1, 2 * var):
    # Determine the number of stars and spaces for each line
    num_stars = 2 * var - abs(2 * var - 2 * i) - 1
    num_spaces = (2 * var - 1 - num_stars) // 2
    
    # Print leading spaces
    print(" " * num_spaces, end="")
    # Print stars
    print("*" * num_stars)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# 10

In [86]:
var = 5

# Combined loop for both top and bottom halves
for i in range(1, 2 * var):
    # Determine the number of stars and spaces for each line
    num_stars = 2 * var - abs(2 * var - 2 * i) - 1
    num_spaces = (2 * var - 1 - num_stars) // 2
    
    # Print leading spaces
    print("" * num_spaces, end="")
    # Print stars
    print("*" * num_stars)

*
***
*****
*******
*********
*******
*****
***
*

# 11

In [102]:
var = 5
for i in range(var):
    for j in range(i+1): #agar i 0 hai to -1 ho jayga range main so i upper loop main 1 se start hoga na ki 0 se
        if j%2 == 0:
            print(1, end=" ")
        else :
            print(0, end=" ")
    print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

# 13

In [111]:
var = 5
n = 1
for i in range(var):
    for x in range(i+1):
        print(n, end=" ")
        n +=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15